@import url("https://fonts.googleapis.com/css?family=poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
   /* font sans-serif được dùng nhiều trong web */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Giúp căn giữa nội dung theo chiều dọc.
    Nên dùng min-height: 100vh; khi thiết kế bố cục web để tránh nội dung bị cắt! */
    background: url("images/background.jpg");
    background-size: cover; /* Ảnh sẽ được hiển thị đầy đủ */
    background-position: center; /* Ảnh sẽ được hiển thị ở giữa */
    overflow: hidden; 
}
.container {
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, .1); 
    /* Màu nền có độ trong suốt */
    backdrop-filter: blur(30px);
    /* Làm mờ nền */
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: white;
    transition: height .6s ease; 
    /* Hiệu ứng chuyển động */
}

.search-box {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500; /* Độ đậm của font */
    text-transform: uppercase;
    padding: 0 40px 0 42px;
}

.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize; 
    /* Chuyển chữ cái đầu tiên của từ thành chữ in hoa */
}

.search-box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: white;
    padding: 0 40px 0 5px;
}

.weather-box {
    text-align: center;
    margin: 40px 0;
}

.weather-box, .weather-deatils, .not-found {
    overflow: hidden;
    /* Ẩn nội dung vượt ra ngoài khung */
    visibility: hidden;
}

.weather-box.active, .weather-deatils.active, .not-found.active {
    visibility: visible;
}

.weather-box .box, .not-found .box {
    transform: translateY(-100%); 
    /* Di chuyển lên trên */
}

.weather-box.active .box, 
.not-found.active .box {
    transform: translateY(0%); 
    /* Di chuyển xuống dưới */
    transition: transform 1s ease;
    /* Hiệu ứng chuyển động */
    transition-delay: .6s;
    /* Độ trễ của hiệu ứng */
}

.weather-box .box .info-weather {
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-deatils .humidity .info-humidity,
.container.active .weather-deatils .wind .info-wind {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather img {
    width: 60%;
}

.weather-box .nhietdo {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}
.weather-box .nhietdo span {
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}

.weather-box .mieuta {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-deatils {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-deatils .humidity,
.weather-deatils .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-deatils.active .humidity,
.weather-deatils.active .wind {
    transform: translateY(0);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-deatils .humidity .info-humidity,
.weather-deatils .wind .info-wind {
    transform: translateY(-100%);
    overflow: hidden;
}

.weather-deatils .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-deatils .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-deatils i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-deatils span {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
}

.weather-deatils p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    text-align: center;
}

.not-found img {
    width: 65%;
}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.city-hide {
    display: none;
}

#clone-weather,
#clone-humidity,
#clone-wind {
    position: absolute;
    transform: translateY(-100%);
}

#clone-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, ocpaity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone #clone-weather .weather {
    transform: translateY(0);
}

#clone-humidity span,
#clone-wind span {
    transform: translateY(100%);
    /* Di chuyển xuống dưới */
    transition: transform 1s ease;
    /* Hiệu ứng chuyển động */
}

.active-clone #clone-humidity span,
.active-clone #clone-wind span {
    transform: translateY(0);
    /* Di chuyển xuống dưới */
}